<div class="new_container">
  <div class="return_btn">
    <%= link_to '<-', rooms_path, class: "btn btn-outline-secondary" %>
  </div>
  <div class="new_room">
    <h2>ChatRoomの作成</h2>
    <div class="new_room_text">
      <%= form_for @room, url: rooms_path, html: { method: :post } do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.text_field :name, class: "text", placeholder: 'ChatRoom名：' %>
        <%= f.fields_for :tags do |t| %>
          <%= t.text_field :name, class: "text", placeholder: 'ChatRoomタグ：' %>
        <% end %>

        <div class="create_btn">
          <%= f.submit '作成', class: "btn btn-outline-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
